<!DOCTYPE html>
<html>
<head>
  <title>My first Vue page</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/flexbox-grid.css?version=0.1">
  <link rel="stylesheet" href="css/pink.css?version=0.1">
  <link rel="stylesheet" href="css/images.css?version=0.1">
  <link rel="stylesheet" href="css/shopping.css?version=0.1">

</head>
<body>
    <h1>Personal Profile Webpage</h1>
    <hr>

    <h2>About Me</h2>
    <img src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t1.15752-9/462558619_1680302822530872_3638218794792069436_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeGDWiR6FcjVEFhrgnljQKD_jmhKKhbt3E6OaEoqFu3cTuonSQgX-iVXTQvy8WbDSpoIOxHz1D0hRQa1GH3UI1Ym&_nc_ohc=4h1boOMVBOYQ7kNvgE-GQYR&_nc_zt=23&_nc_ht=scontent.fmnl9-4.fna&oh=03_Q7cD1QEobAQW2cKCiuuCQwb4jmfBGX5EqmLqn16GHxvJxJCIIQ&oe=676F2BC7" alt="Profile Picture" class="profile-img">
    <p><strong>Name:</strong> Sondrick Frondozo</p>
    <p><strong>Nickname:</strong> Drick / Sun</p>

    <h3>Education & Achievements</h3>
    <p><strong>Achievements:</strong> None</p>
    <p><strong>Humanities and Social Sciences</strong></p>
    <h3>Current</h3>
    <p><strong>Education:</strong> Asia Pacific College</p>
    <ul>
        <li>BSIT-MI</li>
    </ul>

    <h3>Course</h3>
    <p>Bachelor of Science in Information Technology with specialization in Mobile and Internet Technologies</p>

    <h3>IT Experience</h3>
    <ul>
        <li>SQL</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>CSS</li>
    </ul>

    <h3>Hobbies & Interests</h3>
    <ul>
        <li>Music</li>
        <li>Reading manhwa/novels/manga</li>
        <li>Playing Games</li>
    </ul>

    <h4>Games</h4>
    <table>
        <tr>
            <td><img src="" alt="Game 1"></td>
            <td><img src="" alt="Game 2"></td>
            <td><img src="" alt="Game 3"></td>
            <td><img src="" alt="Game 4"></td>
        </tr>
    </table>

    <h2>Goals In Life / Dream</h2>
    <p>To become a leading innovator in the tech industry, creating solutions that enhance convenience and accessibility for everyone. I aim to inspire others to embrace the potential of technology while staying committed to lifelong learning, personal growth, and fostering meaningful connections with my family and community.</p>

    <h2>Picture Gallery</h2>
    <p>
        <img src="" alt="Image 1" class="gallery-img">
        <img src="" alt="Image 2" class="gallery-img">
    </p>

    <div id="app">
        {{ message }} <br>
        {{'Random number: ' + Math.ceil(Math.random()*6) }}

        <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.</div>
    </div>

    <div id="app2">
        <div>
            <figure v-for="x in manyFoods">
                <img v-bind:src="x.url">
                <figcaption>{{ x.name }}</figcaption>
            </figure>
        </div>
    </div>

    <div id="app3">
        <form v-on:submit.prevent="addItem">
          <p>
            What do you need? <br>
            <input type="text" required placeholder="item name.." v-model="itemName">
          </p>
          <p>
            How many? <br>
            <input type="number" placeholder="number of items.." v-model="itemNumber">
          </p>
          <p>
            Important?
            <label>
              <input type="checkbox" v-model="itemImportant">
              {{ itemImportant }}
            </label>
          </p>
          <button type="submit">Add item</button>
        </form>
        <br>
        <hr>
      
        <div>
          <p><strong>Shopping list:</strong></p>
          <ul id="ulToFind">
            <li 
              v-for="item in shoppingList" 
              v-bind:class="{ impClass: item.important }"
              v-on:click="item.found=!item.found"
              v-show="!item.found">
                {{ item.name }}, {{ item.number}}
            </li>
          </ul>
          <ul id="ulFound">
            <li 
              v-for="item in shoppingList" 
              v-bind:class="{ impClass: item.important }"
              v-on:click="item.found=!item.found"
              v-show="item.found">
                {{ item.name }}, {{ item.number}}
            </li>
          </ul>
        </div>
      </div> 

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/images.js"></script>
    <script src="js/shopping.js"></script>
</body>
</html>
